
   <!-- Article 01 -->
   <article>
      <h3 class="article-topic">The Value of Money</h3>

      <h1 class="article-title">The Currency of Connection</h1>
      
      <figure class="article-img">
         <img src="img/article01.png"
            alt="An organized pile of coins, with a miniature sculpture of a man on top and, sitting on one of the coins, a miniature sculpture of a woman." />
         <figcaption>The value of money in social relationships.</figcaption>
      </figure>
      
      <p class="article-text">On one hand, money has gotten a significant place in people's lives because of theprotection and comfort it offers, on the other hand, it is involved in human relationships in multiple ways. While financial security may help reduce anxiety, and enhance the love and intimacy, the overemphasis on thiscan cause the couple to become more self-absorbed and thus negatively affect love and fellowship. Of course,money are crucial for business, but money cannot stand in for the main components of interpersonal interaction which include love, trust and meaningful communication. From whom it developed from barter basis where goods such as cattle and salt were used as mediums of exchange, to more accepted items such as gold and silver. Rulers did not create money themselves but could alter it to their interests during emergencies. This is because money demand is when money is being demanded for both its consumptive uses and as a medium of exchange.
      </p> 

      <div class="article-source">
         <p class="source-title">Support sources:</p>
         <p>https://fee.org/articles/the-value-of-money/ <br>
            https://unews.utah.edu/the-connection-between-money-and-happiness-is-real-to-a-point/</p>
      </div>
   </article>

   <!-- Article 02 -->   
   <article>
      <h3 class="article-topic">GMO Food</h3>

      <h1 class="article-title">How Do We Understand GMOs?</h1>

      <figure class="article-img">
         <img src="img/article02.png" alt="Yellow grains of corn" />
         <figcaption>Corn is currently one of the main GMO foods.</figcaption>
      </figure>

      <p class="article-text">Genetically modified foods are foods produced using biotechnology, which is a practice that dominates the production of soy, cotton. Currently, many countries approves GMO foods and has deemed them safe to eat and sustainable in the production process, but some people have fears for the effects of these foods on the health of consumers and the environment at large. There are also quite a number of benefits that can be attributed to GMOs which includes; Costs to the farmer and improved nutritional value, taste and physical attributes of the food items. Nonetheless concerns about allergies, cancer and ecological problems as well continue to exist and thus more long-term research is therefore necessary more so with evidence from the existing research pointing to low risk factors.</p>

      <div class="article-source">
         <p class="source-title">Support sources:</p>
         <p>https://www.healthline.com/nutrition/gmo-pros-and-cons <br>https://www.medicalnewstoday.com/articles/324576
         </p>
      </div>
   </article>

   <!-- Article 03 -->
   <article>
      <h3 class="article-topic">The View of World in 2100</h3>

      <h1 class="article-title">A Gift From The Future</h1>
      
      <figure class="article-img">
         <img  src="img/article03.png" alt="Abstract Paint of a person golding a cristal ball." />
         <figcaption> The Extraordinary Now</figcaption>
      </figure>
      
      <p class="article-text">Predicting the future helps us prepare for challenges like climate change and socio-environmental issues, which are recurring and pressing threats today. While advancements in sustainable technology and artificial  intelligence offer short- and long-term solutions for some of the anticipated effects, it is up to us to deal with the consequences of change. Predicting the future is like painting an abstract canvas; it only makes sense to those who envision it. Interpreting the future is necessary to provoke change and progress. However, betting on a utopian future can be a trap. Taking care of what we have today is essential for our continued existence in the future. The year 2100 may be as extraordinary and utopian as we imagine, but what we often overlook is that this distant future is being constructed right now, in the present. So, is today the extraordinary we so desire?</p>  
   </article>
