   <h1 class="portfolio-title">Portfolio</h1>

   <div class='portfolio-pieces'>
      <div class="piece01">
      <figure class="card">
         <img src="/img/portfolio01.png" alt="limes and lemons" />
         <figcaption>"Lemons float, but limes sink".</figcaption>
      </figure>

      <figure class="card">
         <img src="/img/portfolio02.png" alt="Giraffe licking its nose" />
         <figcaption>"Giraffe tongues can be 50cm long".</figcaption>
      </figure>

      <figure class="card">
         <img src="/img/portfolio03.png" alt="Little monkey with shocked expression" />
         <figcaption>"All mammals get goosebumps".</figcaption>
      </figure>
   </div>

   <div class="piece02">
      <figure class="card">
         <img src="/img/portfolio04.png" alt="bee flying" />
         <figcaption>"Bees can fly higher than Mount Everest".</figcaption>
      </figure>

      <figure class="card">
         <img src="/img/portfolio05.png" alt="Planet Venus" />
         <figcaption>"Venus is the only planet to spin clockwise".</figcaption>
      </figure>

      <figure class="card">
         <img src="/img/portfolio06.png" alt="Small bucket of Peanuts" />
         <figcaption>"Peanuts are actually legumes".</figcaption>
      </figure>
      </div>
   </div>
